.loading-spinner {
		border: 0.25rem solid rgba(0, 0, 0, 0.2);
		border-radius: 50%;
		border-top-color: #000;
		width: 28px;
		height: 28px;
		-webkit-animation: spin 2s linear infinite;
		/* Safari */
		animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
		0% {
				-webkit-transform: rotate(0deg);
		}
		100% {
				-webkit-transform: rotate(360deg);
		}
}
@keyframes spin {
		0% {
				transform: rotate(0deg);
		}
		100% {
				transform: rotate(360deg);
		}
}
.ml-8 {
		margin-left: 2rem;
}

body {
		background-color: #F0F0F1;
}

input[type=text] {
		width: 35%;
}

textarea {
		width: 80%;
}

#newsletter-form th {
		width: 30%;
}